@font-face {
    font-family: googleFont0;
    src: url(../font/GoogleSansDisplay-Regular-v1.27.ttf);
}

:root {
    --red: #EA4335; /* --gdscRed */
    --blue: #4285F4; /* --gdscBlue */
    --yellow: #f9ab00; /* --gdscYellow */
    --green: #34a853; /* --gdscGreen */

    --schoolRed: #750014; /* --iztechRed */

    --mitRed: #750014;
    --mitLightRed: #ff1423;
    --mitGray: #8b959e;
    --mitDarkGray: #212326;
    --mitBlue: #1966ff;
    --mitLightBlue: #99ebff;
    --mitGreen: #00ad00;

    --legoBlue: #0055BF;
    --legoBlue2: #0059A3;
    --legoGray: #595D60;

    --gray: #5f6368;

    --color0: #EA4335;
    --color1: #4285F4;
    --color2: #F4B400;
    --color3: #0F9D58;

    --answerColor0: #EA4335;
    --answerColor1: #EA4335;
    --answerColor2: #F4B400;
    --answerColor3: #34a853;
    --answerColor4: #34a853;

    --brightness: brightness(0.1);
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--gray);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: googleFont0;
}

.form-link-div {
    margin-top: 32px;
    font-size: 24px;
}

.form-link {
    color: var(--mitDarkGray);
    transition: 250ms;
}

.form-link:hover {
    color: #fff;
}

.text {
    font-size: 36px;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: var(--brightness); */
    margin-bottom: 48px;
}

.logo-left, .logo-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 140px;
}

.logo-red {
    /* transform: rotate(-30deg); */
    transform-origin: 0;
    background-color: var(--red);
    margin-top: 20px;
    /* margin-left: 4px; */
}

.logo-blue {
    margin-top: -20px;
    /* margin-left: -16px; */
    /* transform: rotate(30deg); */
    transform-origin: 0;
    background-color: var(--blue);
    z-index: 100;
}

.logo-green {
    background-color: var(--green);
    /* transform: rotate(30deg); */
    transform-origin: right;
    z-index: 100;
    margin-top: 20px;
}

.logo-yellow {
    margin-top: -20px;
    background-color: var(--yellow);
    /* transform: rotate(-30deg); */
    transform-origin: right;
}

.logo-block {
    position: absolute;
    width: 128px;
    height: 40px;
    border-radius: 32px;
    filter: opacity(0);
    transition: 1s;
}

@keyframes lightbulb {
    0%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      1%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      1.001%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      10%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      11.001%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      11.002%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      12%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      
    /*    */
      39.999%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      40%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      41%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      41.001%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      
    /*    */
      
      75%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      75.5%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      75.501%{
        /* opacity: 0; */
        filter: var(--brightness);
      }
      
    /*    */
      
      80%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      81.001%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      81.002%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      82%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      82.001%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      82.002%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      83%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      83.001%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      83.002%{
        /* opacity: 1; */
        filter: brightness(1);

      }
      83.003%{
        /* opacity: 0; */
        filter: var(--brightness);

      }
      88%{
        /* opacity: 1; */
        filter: brightness(1);

      }
}